<div class="column-6 article">
    <div class="column-5" style="position: relative;">
        <img src="images/{{ article.getId }}.jpg" alt="{{ article.getId }}" style="width: 100%; height: 360px; object-fit: cover;"/>
    </div>
    <div class="column-7 articleSummary">
        <p>{{ article.getCategoryName }} / {{ article.getReleaseDate|date("Y.m.d") }}</p>
        <h2 class="titleHeadline">
            <a href="{{ path('article', {'id': article.getId}) }}">{{ article.getTitle }}</a>
        </h2>
        <div class="content">
            <p>{{ article.getContent[0] }}</p>
        </div>
    </div>
</div>