{% extends ('base.html.twig') %}
{% block stylesheets %}
{% endblock %}
{% block page_content %}
    {% if submitted == false %}
        <div id="distribution-form-container">

            {% set form = distributionForm.createView %}
            {{ form_start(form) }}
            <div id="form-header">
                <h3 class="form-title">Generate Normal Distribution</h3>
            </div>
            <div id="form-body">
                {% for error in form.vars.errors.form.getErrors(true) %}
                    <div class="alert alert-danger" role="alert">{{ error.message }}</div>
                {% endfor %}
                <div class="form-group">
                    <label for="rangeStart">{{ form_label(form.rangeStart) }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="input-group-addon"><i class="fa fa-user fa-lg"
                                                                   aria-hidden="true"></i></span>
                            </div>
                        </div>
                        {{ form_widget(form.rangeStart) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="rangeStart">{{ form_label(form.sizeOfDataset) }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="input-group-addon"><i class="fa fa-user fa-lg"
                                                                   aria-hidden="true"></i></span>
                            </div>
                        </div>
                        {{ form_widget(form.sizeOfDataset) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="rangeStart">{{ form_label(form.mean) }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="input-group-addon"><i class="fa fa-user fa-lg"
                                                                   aria-hidden="true"></i></span>
                            </div>
                        </div>
                        {{ form_widget(form.mean) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="rangeStart">{{ form_label(form.standardDeviation) }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="input-group-addon"><i class="fa fa-user fa-lg"
                                                                   aria-hidden="true"></i></span>
                            </div>
                        </div>
                        {{ form_widget(form.standardDeviation) }}
                    </div>
                </div>
                <div class="text-center">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    {% else %}
        <div class="row justify-content-center">
        {% for key,value in pairs %}
            <p>Key : {{ key }}
                Value : {{ value }}</p>
        {% endfor %}
        <div>
            <p>68% of observations are in range between {{ sigmas[0][0] }} and {{ sigmas[0][1] }}</p>
            <p>95% of observations are in range between {{ sigmas[1][0] }} and {{ sigmas[1][1] }}</p>
            <p>99% of observations are in range between {{ sigmas[2][0] }} and {{ sigmas[2][1] }}</p>
        </div>
        <a href="{{ path('home') }}">Close report</a>
    {% endif %}
{% endblock %}