<div class="row article">
    <div class="column-7 relative">
        <img src="images/{{ article.getId }}.jpg" alt="{{ article.getId }}"/>
    </div>
    <div class="column-5 articleSummary">
        <p>{{ article.getCategoryName }} / {{ article.getReleaseDate|date("Y.m.d") }}</p>
        <h1 class="titleHeadline"><a href="{{ path('article', {'id': article.getId}) }}">{{ article.getTitle }}</a>
        </h1>
        <div class="content">
            <p>{{ article.getContent[0] }}</p>
        </div>
        <a href="{{ path('article', {'id': article.getId}) }}">
            <button>
                {% trans %}READ ARTICLE{% endtrans %} >
            </button>
        </a>
    </div>
</div>