{% extends ('base.html.twig') %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block page_content %}
    <div class="section">
        <p class="section">{{ article.getTitleEn }}</p>
    </div>
    <div class="row singleArticle">
        <div class="articleSummary">
            <p>{{ article.getCategory.getNameEn }} / {{ article.getReleaseDate|date("Y.m.d") }}</p>
            <h1 class="titleHeadline">
                {{ article.getTitleEn }}
            </h1>
            <div class="content">
                <p>{{ article.getContentEns[0].getText }}</p>
                <div class="code">
                    {% for code in article.getCodes %}
                        {{ code.text }}<br>
                    {% endfor %}
                </div>
                <p>{{ article.getContentEns[1].getText }}</p>
            </div>
            <a href="{{ path('home') }}">
                <button type="button">ALL ARTICLES ></button>
            </a>
        </div>
    </div>
{% endblock %}
